<template>
    <svg width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.1139 12.9866V18.8048H10.8838V14.1542H10.8497L9.5173 14.9894V13.8985L10.9576 12.9866H12.1139Z"
            fill="white" />
        <path
            d="M16.0217 18.8843C15.6202 18.8843 15.2622 18.8105 14.9478 18.6627C14.6353 18.515 14.3872 18.3114 14.2035 18.0519C14.0198 17.7925 13.9242 17.4951 13.9166 17.1599H15.1098C15.123 17.3853 15.2177 17.568 15.3939 17.7082C15.57 17.8483 15.7793 17.9184 16.0217 17.9184C16.2149 17.9184 16.3853 17.8758 16.5331 17.7906C16.6827 17.7035 16.7992 17.5832 16.8825 17.4298C16.9677 17.2745 17.0103 17.0965 17.0103 16.8957C17.0103 16.6911 16.9668 16.5112 16.8797 16.3559C16.7944 16.2006 16.6761 16.0794 16.5245 15.9923C16.373 15.9052 16.1997 15.8607 16.0047 15.8588C15.8342 15.8588 15.6685 15.8938 15.5075 15.9639C15.3484 16.034 15.2244 16.1296 15.1353 16.2508L14.0416 16.0548L14.3172 12.9866H17.874V13.9923H15.3314L15.1808 15.4497H15.2149C15.3172 15.3057 15.4715 15.1864 15.678 15.0917C15.8844 14.997 16.1155 14.9497 16.3711 14.9497C16.7215 14.9497 17.034 15.0321 17.3086 15.1968C17.5833 15.3616 17.8001 15.5879 17.9592 15.8758C18.1183 16.1618 18.1969 16.4913 18.195 16.8644C18.1969 17.2565 18.106 17.605 17.9223 17.9099C17.7405 18.2129 17.4857 18.4516 17.1581 18.6258C16.8323 18.7982 16.4535 18.8843 16.0217 18.8843Z"
            fill="white" />
        <path
            d="M23.3999 3.78127C22.5345 3.06825 21.5861 2.44517 20.5684 1.95368C18.6714 1.02603 16.5392 0.499957 14.303 0.499957C10.3568 0.499957 6.77761 2.10604 4.18839 4.69517C1.60608 7.27737 -7.82013e-05 10.8564 -7.82013e-05 14.8024C-7.82013e-05 18.7484 1.60608 22.3275 4.18839 24.9097C6.77767 27.4989 10.3568 29.1049 14.303 29.1049C17.2799 29.1049 20.063 28.1841 22.3545 26.6058C24.7153 24.9927 26.5638 22.6805 27.623 19.9599C27.8099 19.4753 27.5676 18.9215 27.076 18.7346C26.5914 18.5476 26.0376 18.79 25.8507 19.2815C24.9368 21.6353 23.3307 23.6428 21.2884 25.0412C19.3015 26.3981 16.8922 27.2011 14.303 27.2011C10.876 27.2011 7.77451 25.8097 5.53143 23.5667C3.29528 21.3306 1.90374 18.2292 1.90374 14.8024C1.90374 11.3756 3.29522 8.27422 5.53143 6.03816C7.77457 3.79512 10.876 2.40369 14.303 2.40369C16.2553 2.40369 18.1037 2.8606 19.7376 3.65675C20.5614 4.05833 21.3368 4.55668 22.0499 5.12435L18.5122 8.6619C18.3323 8.84184 18.3323 9.14652 18.5122 9.33344C18.6022 9.42346 18.7269 9.47191 18.8515 9.47191H27.2146C27.4777 9.47191 27.6922 9.25727 27.6922 9.00116V0.631513C27.6922 0.368415 27.4776 0.15387 27.2215 0.15387C27.09 0.15387 26.9722 0.209307 26.8822 0.292348L23.3999 3.78143L23.3999 3.78127Z"
            fill="white" />
    </svg>
</template>