<template>
  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.888 4.66665L2.75013 13.153C2.79891 13.6332 3.22903 14 3.74371 14H10.3005C10.8152 14 11.2453 13.6332 11.2941 13.153L12.1562 4.66665H1.888ZM5.03114 1.86666H1.78816C1.52582 1.86666 1.27493 1.96416 1.08927 2.13781C0.904051 2.31187 0.800049 2.54708 0.800049 2.793V3.27361C0.800049 3.51955 0.904048 3.75476 1.08927 3.92881C1.27494 4.10246 1.52584 4.19996 1.78816 4.19996H12.2564C12.5187 4.19996 12.7696 4.10246 12.9553 3.92881C13.1405 3.75475 13.2445 3.51953 13.2445 3.27361V2.793C13.2445 2.54706 13.1405 2.31186 12.9553 2.13781C12.7696 1.96416 12.5187 1.86666 12.2564 1.86666H9.0134V1.22365C9.0134 0.547918 8.42895 0 7.70816 0H6.33627C5.61548 0 5.03103 0.547918 5.03103 1.22365L5.03114 1.86666Z" fill="white"/>
  </svg>
</template>