<template>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M1.35799 14.8085L8.18319 2.98652C8.55719 2.33892 9.25399 1.93652 10.002 1.93652C10.75 1.93652 11.4468 2.33892 11.8208 2.98652L18.7066 14.9137C19.0804 15.5613 19.0804 16.3659 18.7066 17.0137C18.3326 17.6613 17.6358 18.0637 16.8878 18.0637H3.11199C1.95399 18.0637 1.01199 17.1217 1.01199 15.9637C1.01219 15.5505 1.13159 15.1517 1.35799 14.8085ZM3.11219 16.6635H16.8878C17.137 16.6635 17.3694 16.5293 17.494 16.3135C17.6186 16.0975 17.6186 15.8293 17.494 15.6135L10.608 3.68672C10.4834 3.47072 10.251 3.33672 10.0018 3.33672C9.75259 3.33672 9.52019 3.47092 9.39559 3.68672L2.55879 15.5283C2.55039 15.5429 2.54139 15.5573 2.53179 15.5713C2.45319 15.6869 2.41179 15.8227 2.41179 15.9637C2.41219 16.3495 2.72619 16.6635 3.11219 16.6635ZM9.99999 12.7861C9.56799 12.7861 9.21759 12.4359 9.21759 12.0037V7.93752C9.21759 7.50532 9.56799 7.15512 9.99999 7.15512C10.432 7.15512 10.7824 7.50532 10.7824 7.93752V12.0037C10.7824 12.4359 10.432 12.7861 9.99999 12.7861ZM9.99999 13.2451C10.264 13.2451 10.5202 13.3511 10.708 13.5371C10.894 13.7231 11 13.9811 11 14.2451C11 14.5071 10.894 14.7651 10.708 14.9511C10.5202 15.1371 10.2622 15.2451 9.99999 15.2451C9.73799 15.2451 9.47999 15.1371 9.29399 14.9511C9.10619 14.7651 8.99999 14.5071 8.99999 14.2451C8.99999 13.9811 9.10599 13.7231 9.29399 13.5371C9.47999 13.3509 9.73799 13.2451 9.99999 13.2451Z"
            fill="#1D1D1D" />
    </svg>
</template>