<template>
    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M56 28C56 43.464 43.464 56 28 56C12.536 56 0 43.464 0 28C0 12.536 12.536 0 28 0C43.464 0 56 12.536 56 28ZM20 19C20 17.8954 20.8954 17 22 17H23C24.1046 17 25 17.8954 25 19V37C25 38.1046 24.1046 39 23 39H22C20.8954 39 20 38.1046 20 37V19ZM33 17C31.8954 17 31 17.8954 31 19V37C31 38.1046 31.8954 39 33 39H34C35.1046 39 36 38.1046 36 37V19C36 17.8954 35.1046 17 34 17H33Z"
            fill="white" />
    </svg>
</template>
