.grow-enter-active,
.grow-leave-active {
  transition-timing-function: ease-out;
  transition: opacity 0.3s, border-radius 0.5s, transform 0.5s;
}
.grow-enter,
.grow-leave-to {
  transform: translateX(var(--v-mic-button-initial-translate)) scaleX(var(--v-mic-button-initial-scale));
  opacity: 0;
  border-radius: 25px !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.voice-recorder-btn {
  padding: 30px;
  background-color: $voice-recorder-color;

  &.recording {
    background-color: $voice-recording-color;
  }
  &.recorded {
    background-color: $voice-recorded-color;
  }
}
