@import "~vuetify/src/styles/settings/_variables.scss";
@import "@/assets/css/main.scss";
@import "@/assets/css/vendors/v-emoji-picker";
@import "@/assets/css/filedrop.scss";

$admin-bg: black;
$admin-fg: white;

body {
  --v-app-background: $app-background;
  --v-background-color: white;
  --v-foreground-color: black;
  --v-secondary-color: #242424;
  --v-divider-color: #eeeeee;
  &.dark {
    --v-app-background: black;
    --v-background-color: black;
    --v-foreground-color: white;
    --v-secondary-color: #c0c0c0;
    --v-divider-color: rgba(221, 221, 221, 0.1);
  }
}

.home {
  .v-card {
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 18px;
    padding-bottom: 10px;
    .v-item-group > div:not(:last-of-type):after {
      /* divider */
      position: absolute;
      content: " ";
      display: block;
      bottom: 0px;
      height: 1px;
      left: 0px;
      right: 0px;
      min-height: 1px;
      background-color: #e1e1e1;
    }
  }
}

.chat-header {
  margin: 0;
  padding: 0;
  height: 72px;
  background-color: var(--v-background-color);
  border-bottom: 1px solid var(--v-divider-color);
  .chat-header-row {
    margin: 0;
    padding: 4px 10px 4px 28px;
    align-items: center;
    height: 100%;
    button {
      width: 26px;
      height: 26px;
      .v-icon {
        width: 14px;
        height: 14px;
      }
    }
  }
  .chat-header-avatar {
    border-radius: 10px;
  }
  .room-title-row {
    display: flex;
    align-items: center;
  }
  .chat-header-name {
    width: 0px; // Set to 0 for flexbox autosize
    cursor: pointer;
  }
  .chat-header-members {
    overflow: hidden;
  }
  .num-members {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12 * $chat-text-size;
    color: var(--v-foreground-color);
  }
  .v-btn.avatar {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 11 * $chat-text-size;
    color: var(--v-foreground-color);
    background-color: var(--v-background-color) !important;
    border: 1px solid var(--v-foreground-color);
    border-radius: $chat-standard-padding / 2;
    height: $chat-standard-padding;
    margin-top: $chat-standard-padding-xs;
    margin-bottom: $chat-standard-padding-xs;
  }

  .close-button .v-icon {
    color: var(--v-secondary-color);
  }

  .icon-dropdown {
    margin: 0px 8px;
  }

  .notification-alert {
    .icon-circle {
      color: $alert-bg-color;
    }
    &.popup-open::after {
      top: 35px;
      color: #246bfd;
    }
    .missed-items-popup {
      position: absolute;
      bottom: -17px;
      left: -175px;
      transform: translateY(100%);
      background: #246bfd;
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 22px 18px 23px 18px;
      z-index: 300;
      user-select: none;
      width: 300px;
      justify-content: space-between;
      .text {
        white-space: break-spaces;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
      }
      .button {
        margin-left: 50px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 11.5411px;
        line-height: 140%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.34px;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
    .missed-items-popup-background {
      content: " ";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      z-index: 250;
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
    }
  }

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    position: fixed;
    z-index: 10;
  }
}

.chat-root {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;

  background-color: $chat-background;
  overflow: hidden;

  .chat-content {
    margin: 0;
    padding-top: $chat-standard-padding-s;
    padding-left: $chat-standard-padding-s;
    padding-bottom: $chat-standard-padding-s;
    padding-right: $chat-standard-padding-s;
    overflow: hidden auto;

    &::-webkit-scrollbar {
      width: 4px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #cccccc;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: black;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #4d4d4d;
    }

    @media #{map-get($display-breakpoints, 'sm-and-down')} {
      margin-top: 72px;
      margin-bottom: 70px;
    }
  }

  .input-area {
    background-color: #e2e2e2;
    margin: 0;
    padding-left: $chat-standard-padding-s;
    padding-right: $chat-standard-padding-s;
  }

  .input-area-outer {
    position: relative;
    background-color: #ffffff;
    margin: 0;
    padding-left: 2 * $chat-standard-padding-s;
    padding-right: 2 * $chat-standard-padding-s;
    padding-top: 0;

    &.reply-to {
      padding: 0;

      .reply-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
    .iput-area-inner-box {
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
      border-radius: 27px;
      margin: 0px 20px;
      padding: 20px;

      @media #{map-get($display-breakpoints, 'sm-and-down')} {
        margin: 0px 5px;
        padding: 15px;
      }
    }

    .typing {
      font-family: "Inter", sans-serif;
      font-weight: 300;
      font-size: 12 * $chat-text-size;
      color: #1c242a;
      text-align: center;
      min-height: 20px;
    }
    .input-area-inner {
      background-color: white;
      border: 1px solid #d4d4d4;
      border-radius: 32px;

      @media #{map-get($display-breakpoints, 'sm-and-down')} {
        margin-bottom: 2px;
      }
    }
    .input-area-button {
      margin: 0;
      padding: 0;
      min-width: 48px;

      &.input-more-icon {
        svg {
          fill: black;
        }

        @media #{map-get($display-breakpoints, 'sm-and-down')} {
          display: none;
        }
      }
    }
    .input-area-text {
      max-height: 30vh;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 0 0px 20px;
      [dir="rtl"] & {
        padding: 0 20px 0px 0px;
      }
      margin: 6px 0;
      font-family: "Inter", sans-serif;
      font-weight: 300;
      font-size: 18 * $chat-text-size;
      .v-input__slot {
        /* Remove text underline */
        color: transparent !important;
        min-height: 20px;
        overflow: hidden;
      }
    }

    .input-area-read-only {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(white, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 40;
    }

    @media #{map-get($display-breakpoints, 'sm-and-down')} {
      position: fixed;
      bottom: 0px;
      width: 100%;
      z-index: 10;
    }
  }

  .scroll-to-end {
    position: absolute;
    top: -64px;
    right: 16px;
  }

  .op-button {
    position: relative;
    display: inline-block;
    vertical-align: top !important;
    .v-icon {
      color: #eeeeee;
      &:hover {
        color: #888888;
      }
    }
  }
}

.messageJoin {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15 * $chat-text-size;
  color: #1c242a;
  text-align: center;
  user-select: text;
}

.message-wrapper {
  position: relative;
  user-select: none;

  .quick-reaction-container .emoji {
    display: inline;
  }

  .seen-by-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 16px;
    .clickable {
      display: flex;
      height: 16px;
    }
    div {
      height: 16px;
    }
    margin-top: 3px;
    .more {
      margin-right: 10px;
      color: #444444;
      font-size: 12px;
    }
    .seen-by-user {
      width: 16px !important;
      height: 16px !important;
      margin-left: -5px !important;
      vertical-align: top;
    }
    .list-enter-active,
    .list-leave-active {
      transition: all 1s;
    }
    .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
      opacity: 0;
      transform: translateX(24px);
    }
  }
}

.messageIn {
  margin: 8px;
  text-align: left;
  [dir="rtl"] & {
    text-align: right;
  }
  position: relative;
  .bubble {
    background-color: #ededed;
    border-radius: 0px 10px 10px 10px;
    [dir="rtl"] & {
      border-radius: 10px 0px 10px 0px;
    }
    padding: 8px;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #ededed !important;
    display: inline-block;
    position: relative;
    max-width: 70%;
  }
  &.from-admin .bubble {
    background-color: $admin-bg;
  }
  .audio-bubble {
    width: 70%;
    height: 50px;
  }
  .bubble.image-bubble {
    padding: 0px;
    overflow: hidden;
    display: inline-block;
    width: 70%;
    max-width: 70%;
    cursor: pointer;
  }
  .bubble.sticker-bubble {
    padding: 0px;
    overflow: hidden;
    display: inline-block;
    width: 30%;
    max-width: 30%;
    background-color: transparent;
    border: 0px solid transparent !important;
  }
  .avatar {
    display: inline-block;
    vertical-align: top !important;
    margin-right: 10px;
    [dir="rtl"] & {
      margin-right: initial;
      margin-left: 10px;
    }
    top: 0;
    border: 2px solid white;
  }
  .senderAndTime {
    display: block;
  }
  .sender {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10 * $chat-text-size;
    color: rgba(#000000, 0.6);
    margin-left: 40px;
    margin-right: 8px;
    [dir="rtl"] & {
      margin-left: 8px;
      margin-right: 40px;
    }
    display: inline-block;
  }
  .time {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10 * $chat-text-size;
    color: rgba(#000000, 0.6);
    display: inline-block;
  }
  .link {
    color: inherit;
  }
  .quick-reaction-container {
    margin-left: 42px;

    [dir="rtl"] & {
      margin-right: 42px;
    }
  }
}

.messageOut {
  margin: 8px;
  text-align: right;
  [dir="rtl"] & {
    text-align: left;
  }
  position: relative;
  .bubble {
    background-color: #e5e5e5;
    border-radius: 10px 10px 0 10px;
    [dir="rtl"] & {
      border-radius: 10px 10px 10px 0px;
    }
    padding: 8px;
    display: inline-block;
    position: relative;
    max-width: 70%;
  }
  .audio-bubble {
    background-color: #e5e5e5;
    border-radius: 10px 10px 0 10px;
    [dir="rtl"] & {
      border-radius: 10px 10px 10px 0px;
    }
    padding: 8px;
    display: inline-block;
    position: relative;
    max-width: 70%;
    width: 70%;
    height: 50px;
  }
  .video2-bubble {
    background-color: #e5e5e5;
    border-radius: 10px 10px 0 10px;
    [dir="rtl"] & {
      border-radius: 10px 10px 10px 0px;
    }
  }
  .bubble.image-bubble {
    padding: 0px;
    display: inline-block;
    width: 70%;
    max-width: 70%;
    cursor: pointer;

    .v-image,
    video {
      border-radius: 10px 10px 0 10px;
      [dir="rtl"] & {
        border-radius: 10px 10px 10px 0px;
      }
    }
  }
  .bubble.sticker-bubble {
    padding: 0px;
    display: inline-block;
    width: 30%;
    max-width: 30%;
    background-color: transparent;
  }
  .avatar {
    display: inline-block;
    vertical-align: bottom !important;
    margin-left: 10px;
    [dir="rtl"] & {
      margin-left: initial;
      margin-right: 10px;
    }
    bottom: 0;
    border: 2px solid white;
  }
  .senderAndTime {
    display: block;
  }
  .sender {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10 * $chat-text-size;
    color: rgba(#000000, 0.6);
    display: inline-block;
    margin-left: 40px;
    margin-right: 8px;
    [dir="rtl"] & {
      margin-left: 8px;
      margin-right: 40px;
    }
  }
  .time {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10 * $chat-text-size;
    color: rgba(#000000, 0.6);
    display: inline-block;
  }
  .link {
    color: inherit;
  }
  .quick-reaction-container {
    margin-right: 42px;

    [dir="rtl"] & {
      margin-left: 42px;
    }
  }
}

.sender,
.status {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15 * $chat-text-size;
  color: #1c242a;
  margin-bottom: 4px;
}

.message {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16 * $chat-text-size;
  color: #000000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;

  .deleted-text {
    cursor: not-allowed;
    font-size: 14px;
  }

  .edit-marker {
    font-size: 0.8rem;
    color: #888888;
    margin-left: 6px;
  }
  .from-admin & {
    color: $admin-fg;
  }
  user-select: text;
}

.original-message {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 8px;
  user-select: text;
  .original-message-sender {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 13 * $chat-text-size;
    color: #000000;
    overflow-wrap: break-word;
    white-space: pre;
  }
  .original-message-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 11 * $chat-text-size;
    color: #000000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

.time {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15 * $chat-text-size;
  color: #1c242a;
  display: inline-block;
}

.statusEvent {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15 * $chat-text-size;
  color: #1c242a;
  text-align: center;
  margin: 20px;
  user-select: text;
  overflow-wrap: break-word;
  word-break: break-word;
}

.notice {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15 * $chat-text-size;
  background-color: #090909;
  color: white;
  text-align: start;
  margin: 20px;
  user-select: text;
  padding: 16px;
  border-radius: 20px;
}

.audio-player {
  width: 100%;
  position: absolute;
  .currentColor {
    background-color: #000000 !important;
  }
  .v-icon {
    color: black !important;
  }
  .from-admin & {
    color: $admin-fg;
    .currentColor {
      background-color: #555555 !important;
    }
    .v-icon {
      color: white !important;
    }
  }
  .play-time {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13 * $chat-text-size;
    flex: 1 0 80px;
  }
  .play-progress {
    padding: 0px 10px;
    flex: 1 1 100%;
    height: 30px;

    .v-slider__thumb {
      display: none;
    }
    &:hover .v-slider__thumb {
      display: block;
    }
  }
}

.message-operations-strut,
.avatar-operations-strut {
  position: relative;
  height: 0px;
  z-index: 10;
}

.message-operations {
  position: absolute;
  width: fit-content;
  background-color: white;
  height: 34px;
  border-radius: 22px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.avatar-operations {
  position: absolute;
  width: fit-content;
  background-color: white;
  height: 40px;
  border-radius: 20px;
  padding: 0px 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.send-options {
  z-index: 11; // Above mic button
}

.message-operations-picker {
  background-color: white;
  text-align: center;
}

.download-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  display: flex;
  .download-text {
    width: 100%;
    color: white;
  }
}

.room-name,
.room-name-inline {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16 * $chat-text-size;
  text-transform: uppercase;
  color: var(--v-foreground-color);
  text-align: center;
}

.room-name-inline {
  text-align: start;
  min-width: 75px;
}

.room-name.no-upper {
  text-transform: none;
}

.read-marker {
  margin-left: 20px;
  margin-right: 20px;
  height: 1px;
  width: calc(100% - 40px);
  line-height: var(--v-theme-title-featured-line-height);
  position: absolute;
  bottom: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8 * $chat-text-size;
  line-height: 140%;
  /* identical to box height, or 14px */
  letter-spacing: 0.29px;
  color: #c0c0c0;
  background-color: #c0c0c0;
  text-align: center;
  &::after {
    position: absolute;
    top: -4px;
    background: white;
    transform: translate(-50%, 0);
    [dir="rtl"] & {
      transform: translate(50%, 0);
    }
    padding-left: 4px;
    padding-right: 4px;
    content: attr(title);
  }
}

.day-marker {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  line-height: var(--v-theme-title-featured-line-height);
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10 * $chat-text-size;
  line-height: 140%;
  /* identical to box height, or 14px */
  letter-spacing: 0.29px;
  color: black;
  background-color: black;
  text-align: center;
  position: relative;
  &::after {
    position: absolute;
    top: -8px;
    background: white;
    transform: translate(-50%, 0);
    [dir="rtl"] & {
      transform: translate(50%, 0);
    }
    padding-left: 10px;
    padding-right: 10px;
    content: attr(title);
  }
}

.room-list {
  .room-list-room {
    color: white; // Used as selected item background
    .v-avatar:not(.round) {
      // Make avatars rounded squares!
      border-radius: 8px;
    }
    .room-list-name,
    .room-list-new-room {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 117%;
      letter-spacing: 0.4px;
      color: #0e252d;
    }
    .room-list-new-room {
      font-weight: 400;
    }
    .room-list-new-messages {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 117%;
      letter-spacing: 0.4px;
      color: #1d1d1d;
      padding-left: 13px;
      position: relative;
      &::before {
        position: absolute;
        width: 6px;
        height: 6px;
        left: 0;
        top: 5px;
        background: $alert-bg-color;
        border-radius: 3px;
        content: " ";
      }
    }
  }
}

.room-info {
  background-color: #e8e8e8;
  height: 100%;
  .chat-header {
    background-color: transparent;
    border: none;
    position: relative;
  }

  .room-avatar {
    background-color: #ededed;
    width: 64px !important;
    height: 64px !important;
    margin-bottom: 20px;
    cursor: default;
    .headline {
      font-size: 70 * $chat-text-size !important;
    }
  }

  .name {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 800;
    input {
      text-align: center;
    }
  }

  .topic {
    font-family: "Inter", sans-serif;
    font-size: 16px;

    input {
      text-align: center;
    }
  }

  .created-by {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
  }

  .avatar .headline {
    font-size: 16 * $chat-text-size !important;
  }

  .filled-button {
    @media #{map-get($display-breakpoints, 'sm-and-up')} {
      min-width: 180px !important;
    }
  }

  .v-card {
    background-color: white;
    border-radius: 20px;
  }

  .member .user-name {
    margin-left: 6px;
  }

  .member .user-power {
    margin-left: 6px;
    color: #aaa;
    font-size: 0.8rem;
  }

  .member .start-private-chat {
    margin-left: 38px;
  }

  .member::after {
    content: " ";
    display: block;
    margin: 10px 0px;
    bottom: 0px;
    height: 1px;
    background-color: #e1e1e1;
    width: 100%;
  }

  .show-all {
    color: black;
    font-size: 14 * $chat-text-size;
    font-weight: bold;
    margin-left: 10px;
    [dir="rtl"] & {
      margin-left: initial;
      margin-right: 10px;
    }

    text-decoration: underline;
  }
}

.with-right-label {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: start;
  & > * {
    flex: 1 1 auto;
  }
  & > *:last-child {
    flex: 0 0 auto;
  }
  .option-title {
    color: #000;
    font-size: 16 * $chat-text-size;
  }
  .option-text {
    font-size: 13 * $chat-text-size;
  }
}

.header-button-left {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 12 * $chat-text-size;
  [dir="rtl"] & {
    right: 0px;
    left: unset;
    .v-icon {
      // Mirror the icon
      transform: scale(-1, 1);
    }
  }
}

.header-button-right {
  position: absolute;
  top: 0px;
  right: 0px;
  [dir="rtl"] & {
    left: 0px;
    right: unset;
  }
  margin: 10px 0px;
  font-weight: bold;
  font-size: 12 * $chat-text-size;
}

.profile {
  background-color: #e8e8e8;
  height: 100%;
  .chat-header {
    background-color: transparent;
    border: none;
    position: relative;
  }
  .v-card {
    background-color: white;
    border-radius: 20px;
  }

  .user-info {
    display: flex;
    flex-wrap: nowrap;
    max-width: 80%;
  }

  .show-all {
    color: black;
    font-size: 14 * $chat-text-size;
    font-weight: bold;
    margin-left: 10px;
    [dir="rtl"] & {
      margin-left: initial;
      margin-right: 10px;
    }
  }
}

.action-row {
  padding: 4px 20px;
  cursor: pointer;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  color: black;
  position: relative;
  .v-icon {
    color: black !important;
  }
  &:not(:last-of-type):after {
    /* divider */
    position: absolute;
    content: " ";
    display: block;
    margin: 0px 10px;
    bottom: 0px;
    height: 1px;
    background-color: #e1e1e1;
    width: 100%;
  }
}

.mic-button {
  z-index: 10;
  background-color: transparent !important;
  &.waiting-for-long-tap {
    transition: background-color 0.5s;
    background-color: black !important;
    .v-icon {
      color: white !important;
    }
  }
}

.voice-recorder {
  position: relative;
  margin-top: 14px !important;
  &.ptt {
    position: absolute;
    left: 10px;
    bottom: 0px;
    right: 10px;
  }
  border-radius: 10px;
  background-color: black;
  overflow: hidden;

  .will-cancel,
  .locked,
  .error {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .will-cancel {
    background-color: #ff3300;
  }
  .recording-time {
    color: white;
  }
  .swipe-info {
    color: white;
  }
  .locked {
    background-color: black;
  }
  .error {
    background-color: orange;
  }
  .voice-recorder-lock {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(white, 0.3);
    &.locked {
      background-color: rgba(white, 0.8);
    }
    .thumb {
      width: 16px;
      height: 16px;
      background-color: black;
      border-radius: 8px;
      position: absolute;
      bottom: 1px;
      left: 1px;
      &.locked {
        top: 1px;
        bottom: unset;
      }
    }
  }
}

.bottom-sheet .card {
  z-index: 10; /* Above mic button etc. */
  background-color: white;
  padding: 10px;
}

.room-info-sheet {
  background-color: white;

  .current-room {
    padding: 25px;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #f5f5f7;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 18px;

    input {
      text-align: center;
    }

    .h2 {
      &:hover {
        cursor: text;
      }
    }
  }

  .room-avatar {
    background-color: #ededed;
    width: 44px !important;
    height: 44px !important;
    margin-bottom: 20px;
    cursor: default;

    .headline {
      font-size: 70 * $chat-text-size !important;
    }
  }
}

.create-room {
  background-color: $background;

  .v-avatar {
    border: 1px solid #808080 !important;
  }

  .section {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #808080 !important;
    position: relative;
  }

  .options {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: black;
    font-size: 14 * $chat-text-size;
    font-weight: bold;
    margin-left: 10px;
    [dir="rtl"] & {
      margin-left: initial;
      margin-right: 10px;
    }
    text-transform: none !important;
  }

  .room-option {
    .v-input {
      margin: 0px;
    }
  }

  .option-warning {
    background: linear-gradient(0deg, #FFF3F3, #FFF3F3), #FFFBED;
    border-radius: 8px;
    padding: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    .v-icon {
      margin-right: 16px;
    }
  }
}

.room-link .v-input__slot::before {
  /* Remove text underline */
  border-style: none !important;
}

.created-room-welcome-header {
  background-color: #f5f5f5;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
}

.link-copied {
  position: absolute;
  bottom: 10px;
  left: 20%;
  right: 20%;
  background-color: #888888;
  height: 40px;
  border-radius: 25px;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}

.avatar-22 {
  font-size: 14 * $chat-text-size !important;
}

.avatar-32 {
  font-size: 18 * $chat-text-size !important;
}

.avatar-48 {
  font-size: 27 * $chat-text-size !important;
}

.avatar-32.clickable,
.avatar-48.clickable,
.clickable {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.new-room {
  font-family: "Inter", sans-serif;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-decoration: underline;
  color: black;
  &::after {
    content: "\00a0\00a0>";
    display: inline-block;
    text-decoration: none !important;
  }
}

.recent-emoji {
  color: black;
}

.current-image-input-path {
  max-height: 50vh;
  background-color: #e2e2e2;
}

.loading-indicator {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}

.exporting-indicator {
  position: absolute;
  background-color: white;
}

.toast {
  position: absolute;
  bottom: 68px;
  left: 8px;
  right: 8px;
  height: 48px;
  background: rgba(0, 0, 0, 0.69);
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.auto-audio-player-root {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: var(--v-background-color);
  color: var(--v-foreground-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .load-earlier {
    flex: 1 0 auto;
    padding: 20px;
  }
  .typing-users {
    flex: 1 0 52px;
    min-height: 52px;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    display: flex;
    .typing-user {
      width: 32px !important;
      height: 32px !important;
      margin-left: -8px !important;
      position: relative;
      overflow: visible;
    }
    .reaction-emoji {
      position: absolute;
      top: -6px;
      right: -6px;
      font-size: 17px;
    }
    .list-enter-active,
    .list-leave-active {
      transition: all 1s;
    }
    .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
      opacity: 0;
      transform: translateY(24px);
    }
  }
  .load-later {
    flex: 1 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  .clap-button {
    font-size: 24px;
  }
  .mic-button {
    align-self: flex-end;
  }
  .senderAndTime {
    .sender {
      margin-left: 0;
      color: inherit;
    }
    .time {
      color: inherit;
    }
    text-align: center;
    color: inherit;
  }
  .sound-wave-view {
    width: 80%;
    max-width: 40vh;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    .volume-container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      div {
        width: 0px;
        height: 0px;
        background-color: transparent;
        border-radius: 50%;
      }
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
  .avatar {
    width: 103px !important;
    height: 103px !important;
    margin: 0 !important;
  }
  #btn-play,
  #btn-pause {
    margin: 26px;
  }
  .mic-button {
    z-index: 0;
  }
  .mic-button.dimmed {
    opacity: 0.5;
  }
  .toast-read-only {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgba(black, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
    color: white;
  }
}

.audio-layout.voice-recorder {
  left: 20px;
  right: 20px;
  bottom: 20px;
  position: absolute;
}