$large-button-height: 48px;
$small-button-height: 36px;

.file-drop-root {
  $hiliteColor: #4642f1;
  font-family: "Inter", sans-serif;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: var(--v-background-color);
  color: var(--v-foreground-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;

  .file-drop-title {
    color: #fff;
    text-align: center;
    font-size: 11.54 * $chat-text-size;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.34px;
    text-transform: uppercase;
    margin-top: 13px;
    margin-bottom: 25px;
  }
  .background {
    width: 100%;
    height: 50%;
    background-color: #181719;
    &.drop-target {
      background-color: #383739;
    }
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .file-format-info {
    opacity: 0.6;
    color: #fff;
    text-align: center;
    font-size: 11 * $chat-text-size;
    font-family: "Inter", sans-serif;
    line-height: 117%;
    letter-spacing: 0.4px;
    margin-top: 13px;
    background: transparent;
  }

  .v-btn {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 11.54 * $chat-text-size;
    line-height: 140%;
    color: white;
    background-color: $hiliteColor !important;
    border-radius: $small-button-height / 2;
    min-height: 0;
    height: $small-button-height !important;
    margin-top: $chat-standard-padding-xs;
    margin-bottom: $chat-standard-padding-xs;
    &.large {
      padding: 16px 23px;
      height: $large-button-height;
      border-radius: $large-button-height / 2;
    }
  }

  textarea {
    color: rgba(white, 80%) !important;
  }
  textarea::placeholder {
    color: rgba(white, 80%) !important;
  }

  .attachment-wrapper {
    width: 100%;
    flex: 0 0 100%;
    overflow-y: auto;
  }
  .file-drop-current-item {
    width: 100%;
    height: 70%;
    background-color: #181719;
    &.drop-target {
      background-color: #383739;
    }
    border-radius: 19px;
    overflow: hidden;
    .v-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .filename {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .file-drop-thumbnail-container {
    width: 100%;
    padding: 13px 20px 15px 20px;
    height: 74px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: start;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .file-drop-thumbnail {
      width: 46px;
      height: 46px;
      border-radius: 9px;
      overflow: hidden;
      background-color: #242424;
      border: 2px solid white;
      display: inline-block;
      position: relative;
      &.current {
        border: 2px solid #4642f1;
      }
      &.noborder {
        border: 2px solid transparent;
      }
      .v-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      margin-right: 8px;

      .add,
      .remove {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .v-icon {
          width: 14px;
          height: 15.75px;
        }
      }
      .remove {
        // Slight background to make visible
        background-color: rgba(black, 0.2);
      }
    }
  }

  .file-drop-section {
    margin-top: 20px;
    padding: 16px 18px;
    background-color: #181719;
    border-radius: 19px;
  }

  .file-drop-input-container,
  .file-drop-sending-input-container,
  .file-drop-sent-input-container {
    position: relative;
    width: 100%;
    min-height: 20%;
    background-color: #181719;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    .input-area-text {
      flex: 0 0 auto;
      width: 100%;
      margin-bottom: 50px;
      padding: 16px 18px;
      font-family: "Inter", sans-serif;
      font-weight: 300;
    }
    .v-btn {
      position: absolute;
      right: 8px;
      bottom: 10px;
    }
  }

  @keyframes fadeInStackItem {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  // Sending
  //
  .file-drop-sent-stack {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    .no-items {
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        position: absolute;
      }
      .file-drop-stack-item {
        transform: rotate(-4.4deg);
      }
      color: #fff;
      text-align: center;
      font-size: 21 * $chat-text-size;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      letter-spacing: 0.34px;
    }
    .items-sent {
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
      div, .v-icon {
        position: absolute;
      }
      .v-icon, .v-icon__component {
        width: 30%;
        height: 30%;
      }
    }
    .file-drop-stack-item {
      background: #3a3a3c;
      position: absolute;
      overflow: hidden;
      opacity: 0;
      .v-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.direct {
        opacity: 1 !important;
      }
      &.animated {
        animation-name: fadeInStackItem;
        animation-fill-mode: both;
        animation-duration: 1.5s;
      }
    }
  }

  .file-drop-sending-container {
    width: 100%;
    padding: 13px 0px 15px 0px;
    height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    text-align: start;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .file-drop-sending-item {
      width: 100%;
      height: 64px;
      overflow: hidden;
      background-color: #242424;
      border-radius: 12px;
      background: linear-gradient(0deg, #26242b 0%, #26242b 100%), #fff;
      position: relative;
      padding: 8px;
      .v-image {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        object-fit: cover;
        flex: 0 0 48px;
        margin-right: 8px;
      }
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      .filename {
        position: absolute;
        top: 18px;
        left: 8px;
        font-size: 0.7em;
      }
      .v-progress-linear {
        align-self: flex-end;
      }
      .file-drop-cancel {
        position: absolute;
        right: 8px;
        width: 17px;
        height: 17px;
        color: green !important;
        background: #2e2e3b;
        border-radius: 8.5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .file-drop-sending-input-container {
    .v-btn {
      .v-progress-circular {
        margin-left: 8px;
      }
      background: linear-gradient(0deg, #000 0%, #000 100%), #4642f1;
    }
  }

  .file-drop-files-sent {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 21 * $chat-text-size;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 0.34px;
    text-align: center;
  }

  .file-drop-sent-input-container {
    background-color: transparent;
    .v-btn {
      right: unset;
      left: 8px;
      background: linear-gradient(0deg, #000 0%, #000 100%), #4642f1;
    }
  }
}
